//- layout.pug
html
  head
    title #{title}
    link(rel='stylesheet' href='/css/frameri.css')
    link(rel='stylesheet', href='/css/frameri.css')
  body
    block content
    block foot
      #footer
        p some footer content
